<%- include("partials/header"); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle">
    <label>Post</label>
    <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
  </div>
  <button class="btn btn-primary" style="padding: 1rem 2rem;" type="submit" name="button">Publish</button>
  <a href="/" class="btn" style="background-color: orangered; padding: 1rem 2rem; color: white;">Cancel</a>
</form>

<%- include("partials/footer"); -%>